/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,600,700'); */


body{
    font-family: 'Montserrat', sans-serif;
    color: #555;
}


p {
    line-height: 23px;
    font-weight: 500;
    color: #555;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}

a:hover, a:focus{
    text-decoration: none;
}

ul, li { list-style: none; margin: 0; padding: 0; }


.normal-btn {
    background: #e00000;
    color: #fff;
/*    border-radius: 25px;*/
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
/*    text-transform: uppercase;*/
    /* font-weight: 700; */
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    border: none;
}

.normal-btn:hover {
    background: #222;
    transition: 0.6s ease-in-out;
        color: #fff;
}

.jumbo-btn{
    padding: 15px 20px;
    font-size: 16px;
}


header.adminheader {
    position: fixed;
    width: 100%;
    z-index:999;
    top: 0;
    padding: 0pc !important;
}

body > section, section {
   
    padding-top: 61px 0px;
}





/*-------------------------------------------------------*/
/* #main-dashboard
/*-------------------------------------------------------*/

/* #main-dashboard {
	margin-top: 99px;
} */

.left_panel {
	background: #7030A0;
	padding: 0;
	position: fixed;
	width: 16%;
	height: 100%;
	overflow: auto;
}
.left_panel ul {
	padding: 0!important;
	list-style: none!important
}
.left_panel ul li a {
	padding: 14px 20px 14px 40px;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
	color: #fff;
	letter-spacing: .5px;
	font-size: 15px;
	position: relative;
	/* background: linear-gradient(#333, #222); */
}

.left_panel li {
	background: -webkit-linear-gradient(#7030A0, #58158a);
	background: linear-gradient(#7030A0, #58158a);
}

.left_panel li:hover {
	background: -webkit-linear-gradient(#000, #000);
	background: linear-gradient(#000, #000);
}
.left_panel li:hover .aj_fa {
	color: #fff
}

.left_panel li.is-active a {
    color: #fff !important;
}

.left_panel li.is-active a i {
    color: #fff !important;
}

.aj_fluid {
	padding: 0
}
.aj_reght_panel {
	padding: 0;
	width: 84%;
	margin-left: 16%
}
.aj_fa {
	position: absolute;
	left: 10px;
	top: 17px;
	color: #ea2525;
	font-size: 16px;
}







.dashboard-content {
	    margin-left: 16%;
	    width: 84%;
	    background: #eee;
}

.dashboard-content-inner {
    padding: 50px 0;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
}

/* USER PROFILE PAGE */
 .card {

    padding:30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    overflow: hidden;
    display:block;
    background-color: #eee;
    /* background: url(../img/banner-bg.jpg);  */
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    background-position-y: 28%;
    border: 0px solid !important;
}

.card.hovercard:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(230, 230, 230, 0.8);
}

.card.hovercard .card-background {
    text-align: center;
    background: rgba(255, 255, 255, 0.64);
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    float: left;
}
.col-md-8.other-info-dash {
    float: left;
}
.card-background img {
/*
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
*/
}
.card.hovercard .useravatar {
/*
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
*/
}
.card.hovercard .useravatar img {
    width: 100px;
    border-radius: 50%;
/*
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    
    border: 5px solid rgba(255, 255, 255, 0.5);
*/
}
.card.hovercard .card-info {
    margin-top: 20px;
/*
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
*/
}
.card.hovercard .card-info .card-title {/*    padding:0 5px;*/font-size: 20px;line-height: 1;color: #222;/*    background-color: rgba(255, 255, 255, 0.1);*/-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;font-weight: 600;}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}



.other-info {
    min-height: 170px;
    display: flex;
    align-items: center;
}

.other-info ul{
    padding: 0px;
    color: #fff;
/*    text-align: right;*/
}

.btn-pref  .fa {
    font-size: 24px;
    color: #e00000;
}



.other-info ul li{
    list-style-type: none;
    font-size: 14px;
    padding: 10px 0px;
    letter-spacing: 1px;
    color: #222;
    font-weight: 600;
}

.other-info ul li:after{
/*    content: '\f054';*/
    font-family: FontAwesome;
    color: #e00000;
    position: absolute;
    margin-top:0px;
    right: 0;
}





.dashboard-icon-boxes-main {
/*
    padding: 50px 0;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
*/
}

.d_inner {
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	background: #fff;
	/* margin: 0 15px; */
	border-radius: 5px;
	padding-top: 70px;
}

.dashboard-icon-boxes {
    margin-top: 50px;
    position: relative;
}


.dashboard-icon-boxes i {
    font-size: 35px;
    color: #8c8c8c;
    margin-bottom: 20px;
    background: #eee;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.dashboard-icon-boxes p {
    font-size: 18px;
    font-weight: 600;
    color: #999 !important;
    padding-top: 5px;
}

.dashboard-icon-boxes h3.num {
    font-weight: 600 !important;
    font-size: 50px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
    margin: 0;
    color: #222;
}



.dashboard-modules-main li.list-group-item {
    padding: 0;
}

.dashboard-modules-main li a {
    padding: 20px 25px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.dashboard-modules-main li.list-group-item.active {
    padding: 20px 25px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #222;
    border-color: #222;
}

.dashboard-modules-main li.list-group-item.active span{
    color: #ccc;
    font-size: 80%;
    line-height: 28px;
    font-weight: 400;
}

.dashboard-modules-main li span{
    float: right;
    font-size: 28px;
    line-height: 23px;
    color: #61a92c;
}

.dashboard-modules-main li.incomplete span i{
    color: #c1c1c1;
}




.dashboard-certificate-main {
	
}



.dashboard-certificate-main li {
    padding: 20px 25px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    width: 100%;
}

.dashboard-certificate-main li.list-group-item.active {
    padding: 20px 25px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #222;
    border-color: #222;
}


.dashboard-certificate-main .list-group-item h3 {
    float: left;
    font-size: 20px;
    margin-top: 10px;
        font-weight: 600;
}

.dashboard-certificate-main .list-group-item .normal-btn {
    margin-top: 0;
}

.dashboard-certificate-main li.list-group-item.active span{
    color: #ccc;
    font-size: 80%;
    line-height: 28px;
    font-weight: 400;
}

.dashboard-certificate-main li span{
    float: right;
}





#footer-small {
    background: #c1c1c1;
    padding: 15px;
    text-align: center;
}

.copyright p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}


.banner-module {
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    padding: 30px;
}

/*
.banner-module {
    position: relative;
    overflow: hidden;
    background-color: #eee;
    background: url(../img/bg-dash.jpeg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    background-position-y: 50%;
}

.banner-module:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(230, 230, 230, 0.91);
}
*/

.banner-module-image {
    padding: 0;
}

.banner-module-content h2 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #222;
}





.banner-row {
    background: #fff;
    padding:15px 30px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.banner-row h4{
    float: left;
    color: #e00000;
    font-weight: 600;
        margin-top: 12px;
}

.banner-row ul{
    float: right;
}

.banner-row ul li {
    border: 2px solid #e00000;
    padding: 10px 15px !important;
    font-weight: 600;
    color: #222;
}



.banner-row ul li a {
    color: #222;
}





/********************************/
/*    #video-main        */
/********************************/



/*
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #ccc;
}
*/
.middle-video__overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.no-background-blend-mode .middle-video__overlay {
    background: rgba(27, 82, 83, 0.6) !important;
}

.middle-video__overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 300ms linear;
    opacity: 0;
}

.middle-video__overlay--active {
    opacity: 1;
}

.middle-video__modal {
    width: 90%;
    margin: 30px auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-video__close {
    position: absolute;
    z-index: 15;
    right: 0;
    bottom: 100%;
    width: 50px;
    height: 50px;
    text-indent: -9999em;
}

.middle-video__close:before,
.middle-video__close:after {
    content: '';
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    height: 2px;
    margin-left: -15px;
    background: #fff;
    transform: rotate(45deg);
}

.middle-video__close:after {
    transform: rotate(-45deg);
}

.middle-video a {
    position: relative;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: block;
    background: transparent;
    border: 6px solid #fff;
    margin: 30px auto;
    opacity: 1;
    text-align: center;
    z-index: 9;
}

.middle-video a i {
    color: #fff;
    margin-left: 8px;
    font-size: 45px;
    line-height: 105px;
}

.middle-video a:after {
    position: absolute;
    content: '';
    background: transparent;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: .8;
    border-radius: 200px;
}

.middle-video a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.middle-video a:hover:after {
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    -webkit-transform: scale(1.8, 1.8);
    transform: scale(1.8, 1.8);
    opacity: 0;
    background: white;
}


.dashboard-video-inner h3{
	font-weight: 600;
    color: #222;
}



.answer-main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px 15px;
}

.answer-main-inner{/* text-align: center; *//* margin-bottom: 40px; */}

.answer-main-inner h3{
        margin-bottom: 15px;
    color: #222;
    font-weight: 600;
}

.answer-main-inner ul {
    /*
    max-width: 700px;
    margin: 0 auto;
*/
    padding-left: 20px;
    }

.answer-main-inner li {
    font-size: 15px;
    list-style-type: square;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    color: #999;
}

.answer-main-inner li.right-answer{
    color: #e00000;
    /* font-weight: 600; */
}

.answer-main-inner li:last-child{
    border-bottom: none;
}




.edit-form-main {
	padding: 30px;
        min-height: 80vh;
}

.edit-form-main-inner{
    margin-bottom: 70px;
}

.edit-form-main-inner h3{
    margin-bottom: 25px;
    color: #222;
    font-weight: 600;
    margin-left: 15px;
}

.edit-form-main-inner .form-control {
    min-height: 55px;
    border: 2px solid #999;
    border-radius: 0;
}




.address-main {
    padding: 30px;
    min-height: 80vh;
}

.address-main h3 {
    font-weight: 600;
    color: #222;
    margin-bottom: 25px;
}







.order-main {
    padding: 40px 30px;
    overflow: hidden;
    min-height: 80vh;
}

.order-main table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:0px auto;
	}

/* Zebra striping */
.order-main tr:nth-of-type(odd) { 
	background: #eee; 
	}

.order-main th { 
	background: #222; 
	color: white; 
	font-weight: bold; 
	}

.order-main td, .order-main th { 
	padding: 20px !important; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
    font-weight: 500;
	}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.order-main table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	.order-main table, .order-main thead, .order-main tbody, .order-main th, .order-main td, .order-main tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.order-main thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.order-main tr { border: 1px solid #ccc; }
	
	.order-main td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
	}

	.order-main td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 20px;
		left: 10px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

a.table-view {
    color: #e00000;
    font-weight: 600;
}





.dash-box-icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    top: 10px;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    padding: 50px 20px;
}
.dash-box-icon:after {
    width: 86px;
    height: 86px;
    position: absolute;
    background: rgba(224, 0, 0, 0.35);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #f94444;
    border-radius: 50%;
    line-height: 66px;
    color: #FFF;
    width: 66px;
    height: 65px;
    font-size: 30px;
    text-align: center;
}
.dash-box-icon:before {
    width: 100px;
    height: 100px;
    position: absolute;
    background: rgba(224, 0, 0, 0.2);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}




/* Styles for Accordion */


.single-service-tab {
    margin: 50px 0;
}

.single-service-tab h4 {
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
}


/*
.single-service-tab .toggle:last-child {
  border-bottom: 1px solid #333;
}

.single-service-tab .toggle:first-child {
  border-top: 0px solid #333;
}
*/

.single-service-tab .toggle{/*    border-top: 1px solid #333;*/background: #f6f6f6;margin-top: 4px;padding: 10px 15px;border-radius: 4px;}


.single-service-tab .toggle .toggle-title {
  position: relative;
  display: block;
 
}
.single-service-tab .toggle .toggle-title h3 {
  font-size: 20px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
}
.single-service-tab .toggle .toggle-inner {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #777;
    display: none;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
.single-service-tab .toggle .toggle-inner div {
  max-width: 100%;
}
.single-service-tab .toggle .toggle-title .title-name {
  display: block;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #222;
}

.single-service-tab .toggle .toggle-inner p {
    margin: 0 0 0;
/*    padding-right: 50px;*/
}

.single-service-tab .toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}

.single-service-tab .toggle .toggle-title i{

}
.single-service-tab .toggle .toggle-title i:before{
     content: '\f078';
     font-size: 16px;
     line-height: 28px;
     font-family: 'FontAwesome';
     font-weight: 400;
     color: #e00000;
     right: 0;
     top: 49%;
     font-style: normal;
     position: absolute;
     -moz-transform: translate(0, -50%);
     -webkit-transform: translate(0, -50%);
     -ms-transform: translate(0, -50%);
     -o-transform: translate(0, -50%);
     transform: translate(0, -50%);
}
.single-service-tab .toggle .toggle-title.active i:before{
     content: '\f077';
     font-size: 16px;
     line-height: 28px;
     font-family: 'FontAwesome';
     font-weight: 400;
     color: #222;
     right: 0;
     top: 50%;
     font-style: normal;
     position: absolute;
     -moz-transform: translate(0, -50%);
     -webkit-transform: translate(0, -50%);
     -ms-transform: translate(0, -50%);
     -o-transform: translate(0, -50%);
     transform: translate(0, -50%);
}
