

@media (max-width: 1200px) and (min-width: 992px) {

}

@media (max-width: 1199px) {
	
}

@media (max-width: 1199px) and (min-width:992px){
	
}

@media (min-width: 992px) {

}

@media (max-width: 991px) {
	
}


@media (max-width: 991px) and (min-width:421px){
	
	
}

@media (min-width: 768px) {

}
	
	
	
@media (max-width: 767px) {
        
        .left_panel {
    width: 32% !important;
    z-index: 99;
    transform: translateX(-300px);
	 -webkit-transform: translateX(-300px);
	  -moz-transform: translateX(-300px);
    transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
    transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
}
.left_panel.navigation_slide {
    transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
}
.d_slide.navigation_button {
    left: 32%;
}
section.course-header {
    background-color: #055e7b !important;
}
div#myNavbar {
    height: 250px;
    overflow: auto;
}
.left_panel {
    height: 100% !important;
}
        
        .d_slide {
    position: fixed;
    left: 0;
    top: 50px;
    font-size: 20px !important;
    background: #e00000;
    color: #fff;
    padding: 12px;
    z-index: 99;
    cursor: pointer;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
        
        .left_panel {
                top: 50px;
    width: 32% !important;
    z-index: 99;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
}
    
.dashboard-content {
    margin-left: 0%;
    width: 100%;
}    

}

@media (max-width: 640px) {

}

@media (max-width: 600px) {

}

@media (max-width: 575px) {

}

@media (max-width: 550px) {
.banner-row h4 {
    float: none;
}	
.banner-row {
    padding: 15px 15px;
}
.banner-row ul {
    float: left;
    margin-top: 10px;
}
}
@media (max-width: 420px) {
	
	
}


